[user]
    name = Jansen Price
    email = sumpygump@gmail.com
[color]
    ui = auto
[alias]
    # Shortcuts
    st = !git status -sb && git describe --tags
    ci = commit
    ls = ls-files
    # Human commands
    #branches = branch -a
    tags = tag
    stashes = stash list
    stage = add
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend
    # Check that everything is ready to commit
    precommit = diff --cached --diff-algorithm=minimal -w
    # Log commands
    timeline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    graph = log --graph --branches --remotes --tags --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date-order
    # Show changes between remote
    incoming = log --graph --pretty=oneline --abbrev-commit HEAD^..origin/HEAD
    # Show a list of aliases
    alias = config --get-regexp alias
    # Get info about this repo
    info = "!f() { echo '== Remotes' && git remote -v|grep fetch; \
        printf '\n== Branches (git bb)\n' && git bb | head; \
        printf '\n== Activity (git graph)\n' && git graph -6; \
        printf '\n== You are here (git timeline)\n' && git timeline -6; \
        }; f"
[core]
    excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = matching
[credential]
    helper = cache
[http]
    cookiefile = ~/.gitcookies
[pull]
    rebase = true
[init]
    defaultBranch = master
